body
{
font-family: 'Raleway', serif;
font-size: 25px;
background-color: white;
}
hr
{
width: 100%;
}
h1
{
font-family: 'Raleway', serif;
font-size: 60px;
color: black;
margin-top: 40px; 
margin-left: 60px;
}
h2
{
font-family: 'Raleway', serif;
margin-left: 60px;
font-size: 24px;
}
h3
{
font-family: 'Raleway', serif;
font-size: 16px;
margin-left: 30px;
}
section
{
	display: -webkit-flex;
	display: flex;
}
.navbar
{
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
background-color: gray;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%
transition: top 0.3s;
}
canvas
{
border: 2px solid black;
}


img
{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
width: 300px;
}
footer
{
background-color: #666;
padding: 10px;
text-align: center;
color: white;
position: fixed;
bottom: 0;
width: 100%;
}
@media (max-width: 600px)
{
	section
	{
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

